.star {
    color              : #FCDB69;
}

.white {
    color              : #FFF;
}

h3,
h4,
.green {
    color              : #2AB77E;
}

h6 a {
    color              : #BDBDBD;
    text-decoration    : none;
}

h6 a:hover,
h6 a:focus {
    color              : #999;
}

.vignette {
    background-color   : #FFFFF0;
    color              : #4E4E4F;
    font-family        : "Fira Code", "Neucha", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight        : normal;
	-webkit-font-variant-ligatures: none;
	font-variant-ligatures: none; /* Disable the font ligatures */
}

h1,
.grey {
    color              : #2E2E2F;
}

p {
    color              : #4E4E4F;"
}

.bold {
    font-weight        : bold;
}

.underline {
    text-decoration    : underline;
}

.italic {
    font-style         : italic;
}

.wrong {
    color              : #DC4535;
}

blockquote {
    margin             : 10px 0 10px 50px;
    padding-left       : 15px;
    border-left        : 3px solid #FDDC5F;
    font-style         : italic;
    color              : #808080;
}

.outer {
    width              : 100%;
}

.inner {
    display            : table;
    margin             : 0 auto;
}

span.pop {
    color              : #DE5833;
    cursor             : pointer;
    /*text-decoration: underline;*/
}

.disabledChapter,
a.disabled {
    pointer-events     : none;
    color              : #ACACA6;
    font-style         : italic;
    text-decoration    : underline;
}

a.btn,
.modal-content {
	font-family: "Neucha", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.modal-content {
	background-color   : #FFFFF0;
}

.page-link {
    color              : #00AAFF;
}
.page-link:focus,
.page-link:hover {
    background-color   : #C2DAE6;
}

.page-item.active .page-link {
    background-color   : #00AAFF;
}

.inactive.part {
    display            : none;
}

pre {
    border            : none;
}

pre code {
    border             : 2px solid #333;
    border-radius      : 15px 5px 5px 25px/5px 25px 25px 5px;
}

h3.popover-header,
.popover-body,
pre code {
    font-family        : "Fira Code", "Neucha", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
