body {
    background-color   : #2F5342;
    background-image   : url('../img/bg.png');
    color              : #7DB9F0;
}

button {
    cursor             : pointer;
}

/* MAIN */

main {
    margin-top         : 110px;
    max-width          : 1140px
}

h1 {
    color              : #FFF;
}
