nav, .dropdown-menu.show {
    position           : fixed;
    background-color   : #8C4119;
    border-bottom      : 2px solid black;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color              : #FFF;
}

.navbar .navbar-toggler {
    margin-right       : 50px;
}

.navbar-right {
    position           : absolute;
        right          : 78px;
}

.navbar-right li.nav-item a.nav-link {
    text-decoration    : none;
}

.navbar-light .navbar-nav .nav-link,
.dropdown-menu.show .dropdown-item {
    color              : #00AAFF;
}

.navbar-right li.nav-item a.nav-link.home {
    color              : #28a745;
}

.navbar-right li.nav-item a.nav-link.register {
    color              : #28A745;
    margin-right       : 16px;
}

.navbar-right li.nav-item a.nav-link.login {
    color              : #FFC107;
}

.navbar-right li.nav-item a.nav-link:hover,
.navbar-right li.nav-item a.nav-link:focus,
.dropdown-menu.show .dropdown-item:focus,
.dropdown-menu.show .dropdown-item:hover {
    color              : #FFF;
    text-decoration    : underline;
    background-color   : unset;
}

a,
li {
    outline            : none;
}

.dropdown-menu {
    border-color       : #000;
}


/* Large devices (desktops, 992px and up) */
@media only screen and (max-width: 991px) {

    /* NAVBAR */

    .navbar-right {
        position           : static;
            right          : auto;
        margin-left        : 10px;
    }
}
